# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Download repository
        uses: actions/checkout@v4.1.2

      - name: Set up JDK
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4.0.2
        env:
          cache-name: cache-mvn-temurin-17
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Test with Maven
        run: mvn -B test -Djava.version=17 --file pom.xml

#      - name: Build the Docker image
#        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
        with:
            version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          logout: false

      - name: Build backend image
        uses: mamezou-tech/buildpacks-action@v0.7.0
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/spring-on-k8s
          path: .
          builder: paketobuildpacks/builder:base
          env: 'BP_JVM_VERSION=17.*'

      - name: Push backend image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/spring-on-k8s:latest
